<nav class="pcoded-navbar">
  <div class="pcoded-inner-navbar main-menu">
    <app-nav-logo></app-nav-logo>

    <ul class="pcoded-item pcoded-left-item">

      <!-- 🎯 Gestionnaire RH -->
      <ng-container *ngIf="isGestionnaireRH()">
        <li class="nav-label">Espace Gestionnaire RH</li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/admin/gestion-carriere']"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }">
            <i class="feather icon-bar-chart-2"></i>
            <span class="pcoded-mtext">Gestion de carrière</span>
          </a>
        </li>
      </ng-container>

 <!-- Recruteur -->
<ng-container *ngIf="isRecruteur()">
  <li class="nav-label">Espace Recruteur</li>
<li class="nav-item">
 <a 
  class="nav-link" 
  [routerLink]="['/admin/offres/liste']"
  routerLinkActive="active-link"
  [routerLinkActiveOptions]="{ exact: true }">
  <i class="feather icon-briefcase nav-icon"></i>
  <span class="pcoded-mtext">Offres d'emploi</span>
</a>
</li>

</ng-container>





    </ul>
  </div>
</nav>
