.auth-bg .r:nth-child(1) {
  background: #FF3D3D; // 🔴 rouge
}
.auth-bg .r:nth-child(2) {
  background: #000000; // ⚫ noir
}
.auth-bg .r:nth-child(3) {
  background: #A7D3F0; // 🔵 bleu clair
}
.auth-bg .r:nth-child(4) {
  background: #EAEAEA; // ⚪ gris clair
}