<nav class="pcoded-navbar">
  <div class="pcoded-inner-navbar main-menu">
    <ul class="pcoded-item pcoded-left-item">
      <li class="nav-label">Espace Employé</li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/employe/employe-profil">
          <span class="pcoded-mtext">Mon Profil</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/employe/suivi-carriere">
          <span class="pcoded-mtext">Suivi de Carrière</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
