--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.8.0+cpu
torchvision==0.23.0+cpu
torchaudio==2.8.0+cpu

# Stack scientifique
numpy==2.0.0
scipy==1.15.3
pandas==2.2.2
scikit-learn==1.6.1
tqdm==4.67.1

# NLP
spacy==3.8.5
transformers==4.55.2
sentencepiece==0.2.0

requests==2.32.5
smart-open==7.1.0
cloudpathlib==0.21.0

#test modele
gradio==5.44.1
gradio_client==1.12.1

langchain==0.3.27
langchain-chroma==0.2.5
langchain-community==0.3.29
langchain-core==0.3.75
langchain-google-genai==2.0.10
langchain-text-splitters==0.3.11

google-generativeai==0.8.5
PyMuPDF==1.26.4
sentence-transformers==5.1.0
chromadb==1.0.20