/* You can add global styles to this file, and also import other style files */

@import 'scss/variables';

/* fonts-icon */
@import 'scss/fonts/fontawesome/scss/fontawesome';
@import 'scss/fonts/feather/iconfont';

@import 'scss/general';
@import 'scss/generic';
@import 'scss/mixins/function';

/* important element */
@import 'scss/menu/menu-lite';

/* basic elements */
@import 'scss/theme-elements/theme-elements';

/* third party modules style*/
@import 'scss/plugins/plugins';

@import 'scss/custom';
@import 'ngx-toastr/toastr';


/*cards des ajout et modifier d'une offre en blanc */
 body {
  background-color: #f4f7fa !important;
} 

.card {
  background-color: #ffffff !important;
  border: none !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.03);
  border-radius: 8px;
}



