/* You can add global styles to this file, and also import other style files */

@import 'scss/variables';

/* fonts-icon */
@import 'scss/fonts/fontawesome/scss/fontawesome';
@import 'scss/fonts/feather/iconfont';

@import 'scss/general';
@import 'scss/generic';
@import 'scss/mixins/function';

/* important element */
@import 'scss/menu/menu-lite';

/* basic elements */
@import 'scss/theme-elements/theme-elements';

/* third party modules style*/
@import 'scss/plugins/plugins';

@import 'scss/custom';
@import 'ngx-toastr/toastr';


/*cards des ajout et modifier d'une offre en blanc */
 body {
  background-color: #f4f7fa !important;
} 

.card {
  background-color: #ffffff !important;
  border: none !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.03);
  border-radius: 8px;
}

.pcoded-main-container,
.pcoded-content,
.main-body {
  box-shadow: none !important;
  border-left: 1px solid transparent;

}

.compact-offre .pcoded-main-container .pcoded-content,
.compact-offre .container-fluid,
.compact-offre .main-content,
.compact-offre .page-content {
  padding-top: 10px !important;
}

.compact-offre .page-header,
.compact-offre .breadcrumb {
  margin-bottom: 8px !important;
}

/* Pour tes cards de cette page uniquement */
.compact-offre app-card .card {
  margin-top: 0 !important;
}

.toast-top-center {
  top: 30px !important;           /* distance depuis le haut */
  left: 50% !important;           /* centre horizontal */
  transform: translateX(-50%) !important; /* recentre */
  right: auto !important;
}






