
<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center">
  <div class="container">
    <div class="row gy-4 d-flex justify-content-between">
      <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h1 data-aos="fade-up">Une plateforme RH intelligente pour simplifier et automatiser votre recrutement</h1>

        <div class="d-flex justify-content-start" data-aos="fade-up" data-aos-delay="200">
          <a [routerLink]="['/offres']" class="btn-get-started">Rechercher une offre</a>

        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-out">
        <img src="assets/images/hero.png" class="img-fluid hero-image" alt="Recrutement">

      </div>
    </div>
  </div>
</section>

<section class="contact-modern-wrapper">
  <div class="contact-modern-container">
    <div class="info-box">
      <i class="bi bi-geo-alt-fill"></i>
      <div>
        <h3>Adresse</h3>
        <p>22 Avenue Des États Unis, Tunis 1002</p>
      </div>
    </div>

    <div class="info-box">
      <i class="bi bi-envelope-fill"></i>
      <div>
        <h3>Email</h3>
        <a href="mailto:uibcontact@uib.com.tn">uibcontact&#64;uib.com.tn</a>
      </div>
    </div>

    <div class="info-box">
      <i class="bi bi-phone-fill"></i>
      <div>
        <h3>Téléphone</h3>
        <p>71 218 130<br>71 218 139</p>
      </div>
    </div>
  </div>
</section>


