# Python caches
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtualenvs
.venv/
my_venv/

# DB & logs
*.db
*.sqlite3
*.log

# Env files
*.env
.env.*

# IDE / tooling
.idea/
.vscode/
*.swp
*.bak

# Build/test artifacts
tests/
*.egg-info/
.tox/
.mypy_cache/
.pytest_cache/
htmlcov/
coverage.xml
build/

# Git
.git/
